h1{
  text-align: center;
  color:white;
}
body{
  /*background-color: #626366;*/
  background-image: url("../images/bg2.jpg");
  background-size: cover;


}
.working{
  /*background-color: #8ba2e7;*/
  background-image: url("../images/punchedpaper.png");
  background-size: cover;
  overflow-y: hidden;
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: 400;
  font-weight: bold;
}
button{
  border: none;
  background-color: #6c61bf;
  margin:2px;
  padding:20px;
}
.letter{
  /*background-color: red;*/
  width:10px;
  height:10px;
  display:inline;
  padding:10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
}
.word{
  margin-top: 50px;
}
.alphabets{
  margin-top: 30px;
}
#canvas{
  /*background-color: white;*/
  background-image: url("../images/paper2.jpg");
  background-size: cover;
}
.numbers{
  float:left;
  text-align: left;
  margin-left: 100px;
  margin-top: 10px;
  font-size: 20px;
}
#level{
  display:inline;
}
#guess{
  display:inline;
}
.number{
  /*background-image: url("../images/paper3.png");
  background-size: cover;*/
  height:250px;
  text-align: left;
  position: relative;
  top:50px;
  width:100%;
}
.guesses{
  margin-left: 20px;
  position: relative;
  top: 20px;
}
.headP{
  font-family: 'Love Ya Like A Sister', cursive;
  margin-top: 40px;
  font-size: 20px;
  color:white;
}
h1{
font-family: 'Amatic SC', cursive;
font-size: 80px;
}
.wrong{
    margin-left: 51px;
    display: inline;
    position: relative;
    top:80px;
    font-size: 20px;
}
#wrongTitle{
  position: relative;
  left:-150px;
  top:100px;
  font-size: 16px;
}
#footer{
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: right;
  font-weight: bold;
}
